@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
	box-sizing: border-box;
}

body {
	font-family: "Quicksand", sans-serif;
	background: linear-gradient(
		173deg,
		rgba(77, 162, 147, 0.9934348739495799) 29%,
		rgba(138, 113, 25, 0.7637429971988796) 84%
	);
	background-repeat: no-repeat;
	height: 100vh;
}
.container {
}
/* IL mio menu */
header nav {
}
nav ul li {
	list-style: none;
	display: inline;
	margin-right: 1em;
}

nav ul li a {
	text-decoration: none;
	color: #09312b;
	font-weight: bold;
}

/* Da Qua parte il main */

main {
	width: 900px;
	margin: 30px auto 30px auto;
}
main h1 {
	text-align: center;
	color: #09312b;
}
form {
	text-align: center;
	display: inline-block;
}

.main-task {
	display: inline-block;
}

form label {
	font-size: 2em;
	font-weight: bold;
	color: #09312b;
}
form input {
	width: 540px;
	height: 35px;
	border-radius: 10px;
}

form button {
	color: #09312b;
	border-radius: 5px 5px 5px 5px;
	height: 35px;
	width: 80px;
}

.task-add p {
	padding-right: 5px;
	padding-left: 5px;
	margin: 4px;
}
.task-add {
	background: linear-gradient(
		173deg,
		rgba(66, 108, 101, 0.9934348739495799) 29%,
		rgba(138, 113, 25, 0.7637429971988796) 84%
	);
	display: inline-block;
	border: 1px solid black;
	border-radius: 9px;
	font-size: 1.5em;
	font-weight: 500;
	font-style: italic;
	margin: 15px;
}
.task-add button {
	background: linear-gradient(
		173deg,
		rgba(66, 108, 101, 0.9934348739495799) 29%,
		rgba(138, 113, 25, 0.7637429971988796) 84%
	);
	display: inline-block;
	border: 1px solid black;
	border-radius: 9px;
	margin-left: 10px;
}
